h1 {
  text-align: center;
}
td {
  width: 100px;
  height: 100px;
}
table {
  margin: 5px auto;
  font-size: 300%;
  text-align: center;
}
.vert {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.bDiv {
  margin: 5px auto;
  text-align: center;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.restart {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.restart:hover {
  background-color: #4caf50;
  color: white;
}

.undo {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}

.undo:hover {
  background-color: #008cba;
  color: white;
}
